<div class="container container-design">
    <h1 class="body__header">SPY X FAMILY</h1>
    <section id="about" class="section__content about">
        <h2 class="section__header">About</h2>
        <div class="content">
            <img class="content__image about__img" src="/images/about.png" alt="">
            <p class="content__body"><strong>Spy × Family</strong> is a Japanese manga series written and illustrated by Tatsuya Endo. The story follows a spy who has to "build a family" to execute a mission, not realizing that the girl he adopts as a daughter and the woman he agrees to be in a fake marriage with are a mind reader and an assassin, respectively. It has been serialized biweekly for free on the Shōnen Jump+ application and website since March 25, 2019, with the chapters collected and published into 7 tankōbon volumes by Shueisha as of June 2021. Viz Media has licensed the series for English release in North America.</p>
        </div>          
    </section>
    <section id="synopsis" class="section__content synopsis">
        <h2 class="section__header">Synopsis</h2>
        <div class="content">
            <img class="content__image synopsis__img" src="/images/synopsis.jpg" alt="">
            <p class="content__body">"Twilight" is assigned possibly his hardest mission yet, Operation Strix. As part of this mission he needs to marry and have a child in order to get close to his target Donovan Desmond. He ends up adopting Anya, a telepath, and marrying Yor, an assassin, however, all of them are hiding their identities from one another. To complete his mission, "Twilight" needs to get Anya enrolled in the prestigious Eden Academy so that she can get close to his target's son, Damian Desmond. To do that, Anya will need to become an Imperial Scholar by earning 8 Stella Stars, but the real challenge for "Twilight" though is making sure she doesn't get 8 Tonitrus Bolts and get expelled!</p>
        </div>          
    </section>
</div>