<div class="container container-design char">
    <section class="characters">
        <h2 class="section__header section--secondary">Characters</h2>
        <div class="character--grid">
            <div class="grid grid--1x2 grid--1x3">
                <div class="card">
                    <header class="section__header section--primary">Anya Forger</header>
                    <img class="card__image" src="/images/anya_card.png" alt="Anya Forger">
                    <p class="card__content">Anya Forger (アーニャ・フォージャー, Ānya Fōjā?) is one of four main characters of SPY x FAMILY. Formerly known as "Subject 007" (被験体"007", Hikentai "007"?), she is a runaway child from an underground experiment which accidentally gave her the power to read people's thoughts. After her escape, she moved from place to place for shelter, including the orphanage where she tricked Loid Forger into adopting her.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Loid Forger</header>
                    <img class="card__image" src="/images/loid_card.png" alt="Loid Forger">
                    <p class="card__content">Loid Forger (ロイド・フォージャー, Roido Fōjā?) is the main protagonist of the SPY x FAMILY series. He has discarded everything about his past to work for his country as an undercover spy who acts under the codename "Twilight" (〈黄昏たそがれ〉, <Tasogare>?). For his current mission, he is required to marry and have a child, thus he enters a marriage with Yor Briar and becomes the adoptive father of Anya.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Yor Forger</header>
                    <img class="card__image" src="/images/yor_card.png" alt="Yor Forger">
                    <p class="card__content">Yor Forger (ヨル・フォージャー, Yoru Fōjā?), née Briar (ブライア, Buraia?), is one of four main characters of the SPY x FAMILY series. She is a 27-year-old woman who works as a normal clerk at Berlint City Hall, but is also an assassin who acts under the codename "Thorn Princess" (〈いばら姫ひめ〉, <Ibara Hime>?). She agrees in pretending to be Loid's wife and Anya's mother in order to help him reach his goals as well as her own.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Bond Forger</header>
                    <img class="card__image" src="/images/bond_card.png" alt="Bond Forger">
                    <p class="card__content">Bond Forger (ボンド・フォージャー, Bondo Fōjā?) is the pet of the Forger Family. Formerly known as Subject 8 (8号, 8 Gō?), Bond has been used for experiments that resulted in the dog gaining precognition abilities.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Yuri Briar</header>
                    <img class="card__image" src="/images/yuri_card.png" alt="Yuri Briar">
                    <p class="card__content">Yuri Briar (ユーリ・ブライア, Yūri Buraia?) is Yor Forger's younger brother and a twenty-year-old man who works in the State Security Service. He keeps his job at the SSS a secret from his sister and instead pretends to be a normal civil servant at the foreign ministry.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Fiona Frost</header>
                    <img class="card__image" src="/images/fiona_card.png" alt="Fiona Frost">
                    <p class="card__content">Fiona Frost (フィオナ・フロスト, Fiona Furosuto?) is a spy for WISE who acts under the codename "Nightfall" (〈夜帷とばり〉, <Tobari>?). She works undercover as an assistant to Loid Forger at Berlint General Hospital to provide him with mission details.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Damian Desmond</header>
                    <img class="card__image" src="/images/damian_card.png" alt="Damian Desmond">
                    <p class="card__content">Damian Desmond (ダミアン・デズモンド, Damian Dezumondo?) is the second son of Donovan Desmond and attends Eden Academy as part of Cecile Hall, Group 3.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Donovan Desmond</header>
                    <img class="card__image" src="/images/donovan_card.png" alt="Donovan Desmond">
                    <p class="card__content">Donovan Desmond (ドノバン・デズモンド, Donoban Dezumondo?) is the President of the National Unity Party of Ostania and "Twilight"'s current target.</p>
                </div>
                <div class="card">
                    <header class="section__header section--primary">Becky Blackbell</header>
                    <img class="card__image" src="/images/becky_card.png" alt="Becky Blackbell">
                    <p class="card__content">Becky Blackbell (ベッキ・ブラックベル, Bekki Burakkuberu?) is the daughter of CEO Blackbell, a major military manufacturer. She attends Eden Academy as part of Cecile House, Group 3, and becomes Anya Forger's close friend.</p>
                </div>                
            </div>
        </div>
    </section>
</div>