<div class="section__content grid">
    <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Anya</h3>
          </header>
          <div class="card__body">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident sunt harum praesentium ipsum deserunt temporibus saepe eligendi quam adipisci fuga nulla animi est delectus obcaecati veritatis placeat suscipit ex, sint natus quas vel. Corrupti veritatis, optio tenetur veniam animi rem quidem labore saepe repellat beatae vero ex perspiciatis commodi totam.</p>
          </div>
        </div>
    </div>
</div>